/* --------------------------------------------------------- */
/* Feuille de style Bois Sac  								*/
/* --------------------------------------------------------- */
body { 
background-image: url("../IMG/bois_sac/fond.jpg");
background-repeat: no-repeat;
background-position: top center;
}
/*** entete ***/
#entete #logo{
	background-image:url("../IMG/bois_sac/logo_cadre.png");
	background-repeat: no-repeat;
	width: 166px;
	height: 107px;
	padding-top: 63px;
	padding-left: 44px;
	z-index:1000;
	position:absolute;
}
#entete #nav{
	background-image:url("../IMG/bois_sac/fond_menu.jpg");
	background-repeat: repeat-x;
	height: 46px;
	margin-top: 77px;
}
#entete #nav ul{
	margin-left: 250px;
	margin-top:10px;
	float: left;
}
#entete #nav ul li{
	display: inline;
	float: left;
	margin:5px 5px 0px 5px;
	
}
#entete #nav ul li.trai{
	background-image:url("../IMG/bois_sac/trai_menu.jpg");
	background-repeat: repeat-x;
	width: 3px;
	height: 29px;
	margin:0px;
	
}
#entete #nav ul li a{
	font-weight: bold;
	font-size: 1em;
	color: #000000;	
}
/*** banner ***/
#banner {
	margin-bottom:3px;
	width: 100%;
	text-align: center;
}


/*** corps ***/
#corps{
	background-image:url("../IMG/bois_sac/fond_corps.jpg");
	background-repeat: repeat-x;
	background-color: #BFBBB2;
	width: 100%;
	float: left;
}
.page_sommaire #page #corps #conteneur #contenu #suivre {
	float: right;
	padding:0 10px 0 0;
	margin: 0;
}
.page_sommaire #page #corps #conteneur #contenu #suivre ul li{
	display: inline;
	float: left;
	margin-left:2px;
	margin-right:2px;
}
.page_sommaire #page #corps #contenu div.introduction img{
	float: left;
	margin-right:4px;
	margin-bottom:4px;
}

.page_sommaire #page #corps #contenu div.menu ul{
	border:0;
}

.page_sommaire #page #corps #contenu div.menu ul li{
	border:0;
}

/*** navigation ***/
#navigation img {
	border-top :2px solid #2A0000;
	border-bottom :2px solid #2A0000;
	border-right :6px solid #2A0000;
	border-left :6px solid #2A0000;
}
